@import "../../theme/abstracts/_mixins.scss";


.container {
  $parent: &;
  //height: var(--container-height);
  @include flexLayout(row, space-evenly, flex-start);
  padding-top: 80px;
  &__detail{
    @include flexLayout(column, flex-start, center);
    flex: 0 0 calc(30%);
    position: relative;
    background-color: var(--hover-background);
    border-radius: 10px;

    #{$parent}__images{
      margin: 8px -60px 24px -50px;
      width: calc(100% + 60px + 50px);
      min-height: 24vh;
      img{
        width: 100%;
      }
    }

    #{$parent}__fields{
      padding: 0 4vw;
      width: 100%;
      > input{
        width: 100%;
      }

      > span{
        text-align: center;
        width: 100%;
        display: inline-block;
        @include fontStyles(--text-x-large, --font-light);
        margin: 8px 0;
      }

      > div{
        @include flexLayout(row, space-between, center);
        > input{
          width: calc(50% - 2px);
          &:first-child{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
          &:last-child{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }

    #{$parent}__price{
      margin: 24px 0;
      span{
        &:first-child{
          @include fontStyles(--text-mid-large, --font-medium);
          opacity: .8;
          margin-left: 4px;
        }
        &:last-child{
          @include fontStyles(--text-medium, --font-light);
          opacity: .4;
        }
      }
    }

    #{$parent}__action{
      padding: 0 30px;
      width: 100%;
      margin-bottom: 24px;
      button{
        width: 100%;
      }
    }

  }

  &__info{
    --inactive-tab: #646070;
    --inactive-text-color:#43404B;
    @include flexLayout(column, center, flex-start);
    flex: 0 0 calc(60% - 105px - 35px);
    height: calc(100% - 80px);

    #{$parent}__title{
      @include flexLayout(column, center, center);
      margin-bottom: 50px;

      span{
        &:first-child{
          @include fontStyles(--text-super-large, --font-light, --yellow-color);
        }

        &:last-child{
          @include fontStyles(--text-x-large, --font-light, --gray-color);
        }
      }
    }

    #{$parent}__tabs{
      @include flexLayout(row, flex-start, flex-end);
      transition: background-color var(--animation-time, 350ms);

      > div{
        background-color: var(--inactive-tab);
        @include fontStyles(--text-medium, --font-light, --inactive-text-color);
        width: 125px;
        padding: 12px 0;
        text-align: center;
        margin-left: 1px;
        cursor: pointer;
        &:first-child{
          border-top-right-radius: 10px;
        }

        &:last-child{
          border-top-left-radius: 10px;
        }

      }

      &--active{
        background-color: var(--inactive-text-color) !important;
        font-size: var(--text-large) !important;
        color: var(--gray-color) !important;
        padding-top: 17px !important;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        line-height: 30px;
      }

    }

    #{$parent}__tabContent{
      min-height: 60vh;
      width: 100%;
      background-color: var(--inactive-text-color) !important;
      border-radius: 10px;
      border-top-right-radius: 0 !important;
      padding: 16px;
    }

  }

  &__gallery{
      @include flexLayout(column, flex-start, center);
    img{
      width: 100%;
      border-radius: 10px;
    }
    #{$parent}__firstRow{
      @include flexLayout(row, space-between, center);

      > div{
        @include flexLayout(column, space-between, center);
        &:first-child{
          width: 67% !important;
        }
        &:last-child{
          width: 29%;
          img{
            &:first-child{
              margin-bottom: 8px;
            }
          }
        }

      }
    }
  }

}
