@import "../../theme/abstracts/_mixins.scss";

.container {
  $parent: &;
  //height: var(--container-height);
  @include flexLayout(row, space-evenly, flex-start);
  padding-top: 80px;
  &__detail{
    @include flexLayout(column, flex-start, center);
    flex: 0 0 calc(30%);
    position: relative;
    background-color: var(--hover-background);
    border-radius: 10px;

    #{$parent}__images{
      margin: 8px -60px 24px -50px;
      width: calc(100% + 60px + 50px);
      min-height: 24vh;
      img{
        width: 100%;
      }
    }

    #{$parent}__fields{
      padding: 0 4vw;
      width: 100%;
      > input{
        width: 100%;
      }

      > span{
        text-align: center;
        width: 100%;
        display: inline-block;
        @include fontStyles(--text-x-large, --font-light);
        margin: 8px 0;
        cursor: pointer;
      }

      > div{
        @include flexLayout(row, space-between, center);
        > input{
          width: calc(50% - 2px);
          &:first-child{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
          &:last-child{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }

      #{$parent}__date{
        > div{
          > div{
            height: 48px;
          }
          &:first-child{
            > div{
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              width: 99.5%;
            }
          }
          &:last-child{
            > div{
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              width: 99.5%;
            }
          }
        }
      }
    }



    #{$parent}__price{
      margin: 24px 0;
      span{
        &:first-child{
          @include fontStyles(--text-mid-large, --font-medium);
          opacity: .8;
          margin-left: 4px;
        }
        &:last-child{
          @include fontStyles(--text-medium, --font-light);
          opacity: .4;
        }
      }
    }

    #{$parent}__action{
      padding: 0 30px;
      width: 100%;
      margin-bottom: 24px;
      button{
        width: 100%;
      }
    }

    #{$parent}__options{
      --option-border-color: #35333C;
      @include flexLayout(row, space-between, center);
      //margin-top: 40px;
      margin-bottom: 24px;
      width: 100%;
      padding: 0 2vw;

      &--active{
        background-color: var(--option-border-color);
      }

      > div{
        &:hover{
          background-color: var(--option-border-color);
        }
        cursor: pointer;
        padding: 10px;
        flex: 0 0 31%;
        text-align: center;
        border-radius: 10px;
        border: 1px solid var(--option-border-color);
        > svg{
          width: 100%;
        }
        span{
          display: inline-block;
          width: 100%;
          @include fontStyles(--text-small, --font-regular)
        }
      }
    }

    #{$parent}__insurance{
      --option-border-color: #35333C;
      @include flexLayout(row, space-between, center, wrap);
      width: 100%;
      padding: 0 2vw;
      @include fontStyles(--text-small, --font-regular);

      &--active{
        background-color: var(--option-border-color);
      }

      > div{
        flex: 0 0 calc(50% - 12px);
        border: 1px solid var(--option-border-color);
        border-radius: 10px;
        height: 56px;
        @include flexCenter;
        cursor: pointer;
        margin-bottom: 8px;
        &:hover{
          background-color: var(--option-border-color);
        }
        > span{
          margin-right: 16px;
        }
      }
    }

  }

  &__info{
    --inactive-tab: #646070;
    --inactive-text-color:#43404B;
    @include flexLayout(column, center, flex-start);
    flex: 0 0 calc(60% - 105px - 35px);
    height: calc(100% - 80px);

    #{$parent}__title{
      @include flexLayout(column, center, center);
      margin-bottom: 50px;

      span{
        &:first-child{
          @include fontStyles(--text-super-large, --font-light, --yellow-color);
        }

        &:last-child{
          @include fontStyles(--text-x-large, --font-light, --gray-color);
        }
      }
    }

    #{$parent}__tabs{
      @include flexLayout(row, flex-start, flex-end);
      height: 60px;

      > div{
        //transform: translate3d(0, 0, 0);
        transition: all 350ms;
        @include fontStyles(--text-medium, --font-light, --inactive-text-color);
        width: 125px;
        padding: 12px 0;
        text-align: center;
        margin-left: 1px;
        cursor: pointer;
        &:first-child{
          border-top-right-radius: 10px;
        }

        &:last-child{
          border-top-left-radius: 10px;
        }

      }

      &--active{
        //transform: translate3d(100%, 100%, 0) !important;
        background-color: var(--inactive-text-color);
        font-size: var(--text-large) !important;
        color: var(--gray-color) !important;
        padding-top: 17px !important;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        line-height: 30px;
      }

      &--inactive{
        background-color: var(--inactive-tab);
        padding-top: 12px !important;
      }

    }

    #{$parent}__tabContent{
      height: 60vh;
      overflow-y: auto;
      width: 100%;
      background-color: var(--inactive-text-color) !important;
      border-radius: 10px;
      border-top-right-radius: 0 !important;
      padding: 16px;
    }

  }

  &__gallery{
      @include flexLayout(column, flex-start, center);
    img{
      max-width: 100%;
      border-radius: 10px;
    }
    #{$parent}__firstRow{
      @include flexLayout(row, space-between, center);
      width: 100%;

      > div{
        @include flexLayout(column, space-between, center);
        &:first-child{
          width: 67% !important;
        }
        &:last-child{
          width: 29%;
          img{
            &:first-child{
              margin-bottom: 8px;
            }
          }
        }

      }
    }


    #{$parent}__others{
      width: 100%;
      @include flexLayout(row, space-between, flex-start);
      flex-wrap: wrap;
      margin-top: 16px;
      > div{
        flex:  0 0 calc((100% / 3) - 16px);
        margin-left: 16px;
        margin-bottom: 16px;

        &:last-child{
          margin-left: 0;
        }
        > img{
          //flex: 32%;
          width: 100%;
        }
      }

    }
  }

  &__carousel{
    img{
      width: 50vw
    }
  }

  &__comments{
    //padding: 38px 22px 0;
    > div{
      margin-bottom: 16px;
    }

    &--no-result{
      @include fontStyles(--text-x-large, --font-light, --white-color);
      opacity: .75;
      text-align: center;
    }
  }

  &__policies{
    color: var(--gray-color);


    h2{
      line-height: 64px;
    }
    h3{
      line-height: 40px;
      p{
        padding-right: 24px;
        line-height: 20px;
      }
    }


  }

  &__autoComplete{
    > div{
      width: 100%;
      > input{
        width: 100% !important;
        height: 48px;
        border-radius: 10px !important;
        border: none;
        padding: 0 10px;
        @include fontStyles(--text-x-large, --font-light, --button-text-color);

        &::placeholder {
          //font-family: 'dana-persian';
          padding: 0 10px;
          @include fontStyles(--text-x-large, --font-light, --button-text-color);
          text-align: right;
        }
      }
      > div{
        > *{
          height: 48px;
          @include flexLayout(row, flex-start, center);
          @include fontStyles(--text-x-large, --font-light, --button-text-color);
          padding: 0 10px;
        }
      }
    }

  }
  &__destination{
    min-width: 30vw;
    &__title{
      @include fontStyles(--text-medium, --font-medium, --white-color);
      text-align: center;
      margin-bottom: 24px;
    }

    &__items{
      margin-bottom: 24px;
      @include fontStyles(--text-x-large, --font-medium);
      @include flexLayout(column, center, center);
      max-height: 60vh;
      overflow-y: auto;
      > div{
        cursor: pointer;
        height: 48px;
        @include flexLayout(row, flex-start, center);
        > span{
          &:first-child{
            margin-left: 8px;
          }
        }
      }
      + div{
        justify-content: center;
        //background-color: red;
      }
    }
  }
}
