@import "../../../theme/abstracts/_mixins.scss";


.container {
  height: var(--container-height);
  @include flexCenter;
  @include flexLayout(column, center, center);

  &__title{
    @include fontStyles(--text-super-large, --font-light);
    margin-bottom: 44px;
  }


  &__fields{
    @include flexLayout(column, center, center);
    > input, button{
      margin-bottom: 11px;
    }

    > button {
      width: 100%;
    }
  }
  &__logo{
    margin-bottom: 130px;
  }


}
