.action__holders {
  width: 100%;
  display: flex;
  margin-top: 24px;
  align-items: center;
  flex-direction: column;

  a {
    width: 176px;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 6px;
    padding: 0;
  }

  img {
    width: 100%;
  }
}
