html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --navbar-height: 84px;
  --footer-height: 50px;
  --mobile-footer-height: 70px;
  --container-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  --mobile-container-height: calc(100vh - var(--mobile-footer-height) - 30px);

  --primary-bg-color: #2F2D38;
  --tab-bg-color: #43404B;
  --white-color: #FFFFFF;
  --text-color: #726C82;
  --button-text-color: #141E30;
  --hover-background: #484550;
  --yellow-color:#FED593;
  --gray-color:#A09BB2;
  --seperator-color: #484651;

  --text-super-large: 40px;
  --text-mid-x-large: 30px;
  --text-mid-large: 25px;
  --text-xx-large: 20px;
  --text-x-large: 18px;
  --text-large: 17px;
  --text-medium: 15px;
  --text-small: 12px;
  --text-xx-small: 10px;
  --text-xxx-small: 8px;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;
  --seperator: 1px solid var(--seperator-color);
  --animation-time: 650ms

}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'dana-persian';
}

* {
  -webkit-overflow-scrolling: touch;
  letter-spacing: 0;

  ::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}


body {
  font-family: 'dana-persian';
  background: var(--primary-bg-color);
  min-width: 300px;
  font-size: 12px;
  margin: 0 !important;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
