@import "../../theme/abstracts/_mixins.scss";


.container {
  direction: rtl;
  $parent: &;
  min-height: var(--container-height);
  overflow-y: auto;
  @include flexLayout(row, center, flex-start);

  > div{
    height: 100%;
  }

  &__brands{
    padding-top: 50px;
    flex: 0 0 20%;
    @include flexLayout(column, center, center);
    //margin-right: 120px;
    position: sticky;
    //top: calc(10vh + var(--navbar-height));
    > div{
      margin-bottom: 8px;
    }

    #{$parent}__category{
      margin-bottom: 12px;
      @include flexLayout(row, space-between , center, wrap);

      &--active{
        background-color: var(--hover-background);
      }

      > div{
        &:hover{
          background-color: var(--hover-background);
          cursor: pointer;
        }
        flex: 0 0 32%;
        text-align: center;
        border-radius: 10px;
        border: var(--seperator);
        //height: 42px;
        padding: 10px 0;
        margin-bottom: 4px;
      }
    }

  }

  &__cars{

    &--mobile{
      flex: 0 0 100%;
      > span{
        //position: sticky;
        //top: 0;
        //background-color: var(--primary-bg-color);
        font-size: var(--text-mid-large) !important;
        text-align: center;
      }
    }

    &--desk{
      flex: 0 0 70%;
      @include flexLayout(column, space-around, flex-start);
      #{$parent}__content{
        width: 100%;
        @include flexLayout(row, flex-start, center, wrap);
        > section{
          flex: 0 0 33%;
        }
      }
    }



    > span{
      display: block;
      padding: 50px 0;
      @include fontStyles(--text-super-large, --font-light, --white-color);
    }
  }

  &__paging{
    padding-left: 5%;
    width: 100%;
    text-align: left;
    @include fontStyles(--text-xx-large,--font-light, --gray-color);
    @include flexLayout(row, flex-end, center);

    > div{
      cursor: pointer;
      margin-right: 8px;
      width: 35px;
      height: 35px;
      border-radius: 10px;
      background-color: var(--hover-background);
      @include flexCenter
    }
  }

}
