@import "../../theme/abstracts/_mixins.scss";

.button {
  min-width: 127px;
  height: 48px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
  font-family: 'dana-persian';
}

.primary {
  background-color: var(--yellow-color);
  @include fontStyles(--text-x-large, --font-light, --button-text-color);
  @include flexCenter;
  //color: var(--button-text);
}
